
/////// サイズ ///////
$t: 16px;//基準値
/////// 色 //////
$main_text_color: #022F32;
$green: #83ff98;
$modal_back : rgba(0, 0, 0, 0.6);
$text_color: #0c0c0c;//本文の文字色
$green: #54d369;
$blue: #BDE7FF;
$light_blue: #e9edf5;
$red: #ffbdd1;
$white: #fcfeff;
$grey: #646464;
$dark_grey: #272727;
$light_grey: #dddddd;
$you:#cfffd9;
$acccent: #fa3a94;
$bg_gradient: linear-gradient(180deg, rgba(226,243,240,1) 0%, rgba(232,239,224,1) 100%);//背景グラデーション
/* マージン、パディング */
/* シャドウ */
$shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$shadow-3dp: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
$shadow-4dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
$shadow-6dp: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
$shadow-8dp: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
$shadow-16dp: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
/* フォント */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
$gothic : 'Noto Sans JP', sans-serif;
