@charset "UTF-8";
/* マージン、パディング */
/* シャドウ */
/* フォント */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
#dialog {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  border-radius: 8px;
  border: 1px solid #54d369;
  background-color: white;
  z-index: 20;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

#dialog #dialog_close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
}

#dialog #dialog_close:hover {
  background-color: #dddddd;
}
