@import "variables";

.gl_unique_parts1{
    margin: 10px auto 0 auto !important;
}

.gl_unique_parts2{
    width: 594px;
    margin: 0 auto 20px auto;
}

#contents_title{
    font-family: $gothic;
    color: $main_text_color;
    font-weight: 900;
    font-size: 28px;
    padding: 20px 0 50px 15px;
}

#group_add_section{
    font-family: $gothic;
    color: $main_text_color;
    width: 324px;
    padding: 53px 27px;
    h2{
        font-weight: 900;
        font-size: 28px;
        line-height: 30px;
    }
    p:nth-of-type(1){
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 23px 0;
    }
}

#group_list{
    display: flex;
    flex-wrap: wrap;
}

.group_box{
    padding: 5px;
    display: flex;
    margin: 15px auto;
    width: 400px;
    border-radius: 14px;
    box-shadow: none;
    transition: box-shadow 0.5s;
    cursor: pointer;
    &:hover{
        box-shadow: $shadow-3dp;
    }
    .left_group_box{
            width: 118px;
            height: 118px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 59px;
            }
    }
    .right_group_box{
        margin-left: 30px;
        .group_title{
            font-family: $gothic;
            color: $main_text_color;
            font-weight: 700;
            font-size: 28px;
        }
        .group_member_box_container{
            display: flex;
            align-items: center;
            .member_title{
                font-family: $gothic;
                color: $main_text_color;
                font-weight: bold;
                font-size: 14px;
                margin-right: 20px;
            }
            .group_member_box{
                display: flex;
                position: relative;
                left: 10px;
                .group_member_icon{
                    width: 27px;
                    height: 27px;
                    margin-left: -10px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 14px;
                    }
                }
            }
        }
    }
}