@import "variables";

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}

.modal_wrapper{
    width: 100%;
    height: 100%;
    background-color: $modal_back;
    position: fixed;
    top: 0;
    left: 0;
    font-family: $gothic;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    z-index: 50;
    h2{
        text-align: center;
        font-weight: 700;
        font-size: 1.6rem;
        margin-bottom: 50px;
    }
}

.display{
    display: flex;
}

.none{
    display: none;
}
.modal_box{
    position: relative;
}

.modal_close{
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
    color: rgb(83, 83, 83);
    transition: color 0.5s;
    &:hover{
      color: rgb(255, 72, 72);
    }
}